
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Short Bios</title>
    <style>
        body { background-image: url('../static/img/11.png');
            background-repeat: no-repeat; background-attachment: fixed;
            background-size: cover;}
    </style>
    <link rel="stylesheet" href="../static/css/fontcolor.css">
</head>
<body>
<div class="f1" onclick="aNote()"><h1>Welcome</h1></div>
<div class="info">Developer: Zelin, Cameron, May, Yuki, Ailin</div>
<a href="https://raw.githubusercontent.com/yi-zelin/Web-Short-Bios-of-every-member/master/app01/static/img/11.png"
target="_blank" class="source1">Download Image</a>
<a href="https://github.com/yi-zelin/Web-Short-Bios-of-every-member"
target="_blank" class="source">Open Source Project</a>


<script type="text/javascript">
    function aNote(){
    alert("this is a working JavaScript Script");
    }
</script>

</body>
</html>